{% extends 'layout/app-layout.html' %}

{% block 'content' %}
<div class="container h-75 mt-5"> 
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px; width: 80%;"> 
        <div class="card-body p-4"> 
          <h2 class="text-uppercase text-center mb-4">Login</h2>

          <form method="post">
            {% csrf_token %}
            
            <div class="form-outline mb-3">
                <label class="form-label" for="id_username">Username</label>
                <input type="text" name="username" id="id_username" class="form-control form-control-lg" style="font-size: 18px; border-color: #ccc; padding: 10px;" required>
            </div>

            <div class="form-outline mb-3">
                <label class="form-label" for="id_password">Password</label>
                <input type="password" name="password" id="id_password" class="form-control form-control-lg" style="font-size: 18px; border-color: #ccc; padding: 10px;" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-warning btn-lg gradient-custom-4 text-body">Login</button>
            </div>

            <p class="text-center text-muted mt-4 mb-0">Don't have an account? <a href="{% url 'home' %}"
                    class="fw-bold text-body"><u>Sign up here</u></a></p>

        </form>


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

